.article,
.comments {
    width: min(80%, 1000px);
    margin: auto;
    font-size: large;
    background-color: var(--dark-blue);
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}

.votes {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: min(70%, 500px);
    height: 60px;
    justify-self: center;
}

.voteButton,
.commentButton,
.voteCount {
    background-color: var(--dark-blue);
    border: none;
    aspect-ratio: 1;
    border-radius: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.voteCount {
    font-size: xx-large;
}

.commentButton {
    width: 40px;
}

.voteButton:hover,
.commentButton:hover {
    background-color: var(--dark-blue-hover);
    transform: scale(1.05);
}

.voteImage,
.commentImage {
    max-width: 100%;
    aspect-ratio: 1;
    justify-self: center;
}

.comment,
.inputComment {
    max-width: 100%;
    display: grid;
    grid-template-columns: 130px minmax(100px, 20fr) minmax(50px, 1fr);
    justify-content: space-between;
    column-gap: 20px;
}

.inputComment {
    margin-bottom: 20px;
}

.input {
    font-size: large;
    background-color: var(--dark-blue);
    border: none;
    resize: none;
    border-radius: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.commentBody,
.commentAuthor {
    margin-top: 0;
    margin-bottom: 30px;
}
