.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0;
}

.article {
    aspect-ratio: 1;
    margin: 5%;
    text-decoration: none;
    border: 3px solid black;
    background-color: var(--dark-blue);
    border-radius: 5%;

    position: relative;
    overflow: hidden;
}

.article:hover {
    transform: scale(1.02);
}

.article:hover .articleTitle {
    background-color: var(--dark-blue-hover);
}

.articleImage {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articleTitle {
    background-color: var(--dark-blue);

    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
}

.topics,
.options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;

    row-gap: 20px;
    margin-bottom: 50px;
}

.topic {
    background-color: var(--dark-blue);
    width: 300px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.topic:hover {
    background-color: var(--dark-blue-hover);
    transform: scale(1.02);
}

.dropdown {
    font-size: x-large;
    padding: 10px 15px;
    background-color: var(--dark-blue);
    border-radius: 10px;
    width: 250px;
    border: none;
}
