.login {
    padding: 30px;
    background-color: var(--dark-blue);
    width: min(80%, 1000px);
    margin: 200px auto;
    border-radius: 15px;
    align-items: center;
    font-size: xx-large;
}

.form {
    display: grid;
    grid-template-columns: auto minmax(0, 12fr) 50px;
    column-gap: 3%;
    align-items: center;
}

.message {
    margin-bottom: 0px;
    text-align: center;
}

.input {
    height: 100%;
    border: none;
    background-color: transparent;
    background-color: var(--dark-blue-hover);
    font-size: xx-large;
    border-radius: 10px;
    /* margin-right: 10px; */
}

.submit {
    background-color: var(--dark-blue);
    max-height: 100%;
    border: none;
    aspect-ratio: 1;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit:hover {
    background-color: var(--dark-blue-hover);
    transform: scale(1.05);
}

.submitImg {
    width: 100%;
    aspect-ratio: 1;
    justify-self: center;
}
