.login {
    padding-top: 200px;
    margin: auto;
    width: 1000px;
    font-size: xx-large;
    display: grid;
    grid-template-columns: 6fr 10fr 1fr;
    column-gap: 1%;
}

.input {
    height: 100%;
    border: none;
    background-color: var(--light-blue);
    font-size: xx-large;
}

.submit {
    background-color: var(--light-blue);
    max-height: 100%;
    border: none;
    aspect-ratio: 1;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit:hover {
    background-color: var(--dark-blue);
    transform: scale(1.05);
    cursor: pointer;
}

.submitImg {
    width: 100%;
    aspect-ratio: 1;
    justify-self: center;
}
