body {
    margin: 0;
    background-color: rgba(161, 227, 249, 0.336);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

* {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1,
h2 {
    text-align: center;
}

select:hover,
button:hover {
    cursor: pointer;
}
